@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #251d3a;
  --main-color: #2a2550;
  --second-color: #eaeaea;
  --additional-color: #34b3f1;
  --text-color: #333;
  --montserrat-regular: "Montserrat", sans-serif;
  --google-sans: "Product Sans", sans-serif;
}

body {
  background-color: var(--second-color);
  overflow-x: hidden;
}

/* dashboard Navbar */
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.bi {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  /* border-right: 1px solid #e5e5e5; */
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  margin-top: 10px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: var(--montserrat-regular);
  font-weight: bold;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: var(--additional-color);
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
}

/* End of dashboard Navbar */

/* area */

.area {
  margin-left: 60px;
}

.container .col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--montserrat-regular);
}

.container .col-sm-4 h1 {
  font-weight: bold;
}

/* dashboard header */

.dashboard-header-content {
  background: var(--text-color);
  color: var(--second-color);
  font-family: var(--montserrat-regular);
}

.dashboard-header {
  display: flex;
  margin-top: 50px;
}

.dashboard-header button {
  border: none;
  background: inherit;
}

.container-place-holder {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  margin-top: 50px;
}

.container-place-holder input {
  border: none;
  width: 40%;
  border-radius: 0 5px 5px 0;
}

.container-place-holder i {
  background: white;
  border-radius: 5px 0 0 5px;
  color: var(--text-color);
}

.container-place-holder input:focus {
  outline: none;
}

#arrow {
  color: var(--second-color);
  font-size: 2em;
}

.dashboard-profile {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message-profile {
  background: none;
  color: var(--second-color);
  border: none;
  margin-right: 20px;
}

.message-profile i {
  font-size: 2.5em;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
}

/* end of dashboard header */

/* Service content */

.service-content {
  padding: 10px;
}

.service-item {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.diagnosal-quiz {
  background: rgb(143, 252, 143, 0.8);
  border-left: 5px solid lime;
}

.color-blind-test {
  background-color: rgb(255, 157, 157, 0.8);
  border-left: 5px solid red;
}

.create-stand-optic {
  background: rgb(189, 189, 255, 0.8);
  border-left: 5px solid blue;
  margin-top: 20px;
}

.consultation {
  background: rgb(255, 255, 150, 0.8);
  border-left: 5px solid yellow;
  margin-top: 20px;
}

.service-item-body a {
  background: var(--background-color);
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of service content */

/* end of area */
